.app {
    background: #f1f1f1;
    display: grid;  
    font-family: Arial, Helvetica, sans-serif;
    grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
}

.cabecalho {
    background-color: rgb(114, 248, 125);
    grid-area: cabecalho;
}
 
.conteudo {
    background-color: rgb(241, 129, 129);
    grid-area: conteudo;
}

.rodape {
    background-color: rgb(87, 87, 240);
    grid-area: rodape;
}